[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = sloth-raccoon
	email = youjhenguo@gmail.com
[core]
	editor = \"C:\\Users\\lydia\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
